<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hogwarts Rooms</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/rooms.css}" rel="stylesheet" />
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed;'">
<h1>Available Rooms</h1>
<table th:style="'background: url(/img/parchment.jpg) center/cover no-repeat;'">
    <tr>
        <th>Room Id</th>
        <th>Room House</th>
        <th>Room Students</th>
        <th>Renovated?</th>
    </tr>
    <tr th:each="room: ${rooms}">
        <td th:text="${room.roomId}" />
        <td th:text="${room.houseType}" />
        <td><p th:each="student: ${room.students}" th:text="${student}"></p></td>
        <td th:if="${room.isRenovated()}">Yes!</td>
        <td th:unless="${room.isRenovated()}">Not yet</td>

    </tr>
</table>
</body>
</html>